base_filtro_Buses_con_filtro_estado.xlsx
base_filtro_Buses_sin_filtro_estado.xlsx
base_filtro_CDL_Drivers_con_filtro_estado.xlsx
base_filtro_CDL_Drivers_sin_filtro_estado.xlsx
base_filtro_Power_units_con_filtro_estado.xlsx
base_filtro_Power_units_sin_filtro_estado.xlsx
base_filtro_trucks_1.xlsx
base_filtro_trucks_2_mas_filtro_estado.xlsx
base_general.xlsx
latinos.xlsx
prueba_base_fechas.xlsx
seguros_que_vencen_hoy.xlsx
